<!DOCTYPE html>
<html lang="en">
  <head>
      <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Expires" content="0">
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
